@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

* {
    font-family: "Alan Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color: #4CAF50;
    transition: 200ms;
}

button:hover {
    background-color: #45a049;
    cursor: pointer;
    transition: 200ms;
}

#confirm {
    display: none;
}

#changeMoney {
    display: none;
}

#setMoney {
    display: none;
}